@model Pelicula

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #343a40;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 40px 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 28px;
            margin-bottom: 20px;
            text-align: center;
        }

        dt {
            font-weight: bold;
            margin-top: 10px;
        }

        dd {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

    <div class="container">
        <h1>@Model.Titulo</h1>

        <dl class="row">
            <dt class="col-sm-4">Director:</dt>
            <dd class="col-sm-8">@Model.Director</dd>

            <dt class="col-sm-4">Fecha de Lanzamiento:</dt>
            <dd class="col-sm-8">@Model.FechaDeLanzamiento.ToShortDateString()</dd>

            <dt class="col-sm-4">Duración:</dt>
            <dd class="col-sm-8">@Model.Duracion minutos</dd>

            <dt class="col-sm-4">Sinopsis:</dt>
            <dd class="col-sm-8">@Model.Sinopsis</dd>
        </dl>
    </div>


</body>
</html>
