@model IEnumerable<Pelicula>

@{
    ViewData["Title"] = "Cartelera de Cine";
    bool isAdmin = User.IsInRole("Admin");
}

<h1 class="text-center my-4">@ViewData["Title"]</h1>

@if (isAdmin)
{
    <p class="text-center">
        <a class="btn btn-primary btn-lg" asp-action="Create">Crear Nueva Película</a>
    </p>
}


<div class="container">
    <div class="row">
        @foreach (var pelicula in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm bg-dark text-white rounded-lg overflow-hidden">
                    <img src="@pelicula.Portada" class="card-img-top" alt="Carátula de @pelicula.Titulo" style="height: 400px; object-fit: cover;">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <h5 class="card-title text-center">@pelicula.Titulo</h5>
                            <p class="card-text text-center">
                                <strong>Director:</strong> @pelicula.Director<br />
                                <strong>Fecha de Lanzamiento:</strong> @pelicula.FechaDeLanzamiento.ToShortDateString()<br />
                                <strong>Duración:</strong> @pelicula.Duracion minutos<br />
                            </p>
                        </div>
                        <div class="d-flex justify-content-center align-items-center mt-3">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-light mx-1" data-toggle="modal" data-target="#detailsModal_@pelicula.PeliculaId" onclick="loadDetails(@pelicula.PeliculaId)">Detalles</button>
                                @if (isAdmin)
                                {
                                    <a class="btn btn-sm btn-outline-light mx-1" asp-action="Edit" asp-route-id="@pelicula.PeliculaId">Editar</a>
                                    <a class="btn btn-sm btn-outline-danger mx-1" asp-action="Delete" asp-route-id="@pelicula.PeliculaId">Eliminar</a>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="detailsModal_@pelicula.PeliculaId" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="detailsModalLabel">Detalles de @pelicula.Titulo</h5>
                            <div>
                                <a asp-action="Index">X</a>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div>
                                <strong>Director:</strong> @pelicula.Director<br />
                                <strong>Fecha de Lanzamiento:</strong> @pelicula.FechaDeLanzamiento.ToShortDateString()<br />
                                <strong>Duración:</strong> @pelicula.Duracion minutos<br />
                                <strong>Sinopsis:</strong> @pelicula.Sinopsis<br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        function loadDetails(peliculaId) {
            $.ajax({
                url: '@Url.Action("Details", "Peliculas")',
                type: 'GET',
                data: { id: peliculaId },
                success: function (result) {
                    $('#detailsModal_' + peliculaId).modal('show');
                },
                error: function () {
                    alert('Ha ocurrido un error al cargar los detalles de la película.');
                }
            });
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
}

